{% extends "customer/base.html.twig" %}

{% block body %}

	<section>
		<div class="container py-5">
			<div class="row">
				{% include "_messages_flash.html.twig" %}

				<div class="col-sm-12 col-md-6">

					<div class="card">
						<img src="{{ product.image }}" class="card-img-top imageDetailProduct" alt="image_product">
					</div>

				</div>
				<div class="col-sm-12 col-md-6">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p>{{ product.price | priceEuro }}</p>
							<a href="{{ path('cart_add',{ 'id' : product.id }) }}" class="btn btn-primary w-100">Ajouter au panier</a>
						</div>
					</div>

				</div>

			</div>
		</div>

	</section>

	

{% endblock %}
